.LoadingIcon {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;

  &.is-large {
    width: 130px;
    height: 130px;

    .LoadingIcon__Icon {
      div {
        border-width: 12px;
      }
    }
  }

  &__Icon {
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 80%;
      height: 80%;
      margin: 10%;
      border: 8px solid currentColor;
      border-radius: 50%;
      animation: LoadingIcon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: currentColor transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  &__Label {
    text-align: center;
  }
}

@keyframes LoadingIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}